* {
    margin: 0;
    padding: 0;
}

body {
    background:url('bg.jpg') no-repeat center center fixed;
    font-family: 'Lucida Sans', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #1b021c;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 100px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    color: rgb(9, 0, 0);
    text-align: center;
    padding: 80px 20px;
}

#about, #events, #contact {
    padding:  20px;
    text-align: center;
}

#about img {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul li a:hover {
    color: #c30671;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}
